version: "3.9"

services:
  web:
    build:
      context: .
      args:
        VITE_TELEGRAM_WEBAPP_URL: ${VITE_TELEGRAM_WEBAPP_URL}
        VITE_TELEGRAM_BOT_USERNAME: ${VITE_TELEGRAM_BOT_USERNAME}
        TELEGRAM_BOT_TOKEN: ${TELEGRAM_BOT_TOKEN}
    ports:
      - "5173:80"
    env_file:
      - .env
